.table {
  text-align: center;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #00bcd5;
  color: #ffffff;
  text-transform: uppercase;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
